%html
  %body
    %h1 File uploader!
    %form(method="post" enctype='multipart/form-data')
      Path (it is what you get from "next_configuration):
      %input(type='text' name='path')
      %br
      File:
      %input(type='file' name='myfile')
      %br
      %input(type='submit' name='press' value='OK')

    %h1 Archived file uploader!
    %form(action='/upload-archive' method="post" enctype='multipart/form-data')
      Path (it is what you get from "next_configuration):
      %input(type='text' name='path')
      %br
      File:
      %input(type='file' name='myfile')
      %br
      %input(type='submit' name='press' value='OK')

    %h1 Multi file uploader!
    %form(action='/multiupload' method="post" enctype='multipart/form-data')
      Path (it is what you get from "next_configuration):
      %input(type='text' name='path')
      %br
      File:
      %input(type='file' name='myfile')
      %br
      %input(type='submit' name='press' value='OK')