db_name: 'scalarm_db'
## key for symmetric encryption of secret database data - please change it in production installations!
## NOTICE: this key should be set ONLY ONCE BEFORE first run - if you change or lost it, you will be UNABLE to read encrypted data!
db_secret_key: "QjqjFK}7|Xw8DDMUP-O$yp"

## where log bank should store content
mongo_host: 'localhost'
mongo_port: 27017

## MongoDB settings
## host is optional - the service will take local ip address if host is not provided
#host: localhost

## Password based authentication - supported only by single instance
## To enable stop database, uncomment below settings, run rake db_instance:create_auth and start instance
#auth_username: scalarm
#auth_password: hidden

## MongoDB instance settings
db_instance_port: 30000
db_instance_dbpath: ./../../scalarm_db_data
db_instance_logpath: ./../../log/scalarm_db.log

## MongoDB configsrv settings
db_config_port: 28000
db_config_dbpath: ./../../scalarm_db_config_data
db_config_logpath: ./../../log/scalarm_db_config.log

## MongoDB router settings
db_router_host: localhost
db_router_port: 27017
db_router_logpath: ./../../log/scalarm_db_router.log