default: &DEFAULT
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  information_service_url: "<%= ENV["INFORMATION_SERVICE_URL"] %>"
  information_service_user: "<%= ENV["INFORMATION_SERVICE_LOGIN"] %>"
  information_service_pass: "<%= ENV["INFORMATION_SERVICE_PASSWORD"] %>"
  #sm_information_service_url: "149.156.9.34:11300"

development:
  <<: *DEFAULT

production:
  <<: *DEFAULT

test:
  <<: *DEFAULT
  secret_key_base: test

